/* 
Generic Styling, for Desktops/Laptops 
*/
body {
background: #444; 
color: #000;
font-weight: bold;
text-align: center;

}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  //background: #eee; 
}
th { 
  //background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  //border: 1px solid #ccc; 
  text-align: center;
color: #999; 
text-shadow: 2px 1px #000;
}
img { 
  width: 100%;
  box-shadow: 0px 2px 5px #000;
margin-bottom: 5px;
}